@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.low-margin{
    margin-top: -10vh !important;
}


.static-botton {
    position: fixed; /* Fija el botón en la pantalla */
    top: 1vh; /* Distancia desde la parte inferior */
    right: 1.5vh; /* Distancia desde la derecha */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}


.futuristic-button {
    background-color: #edecec; /* Fondo transparente */
    color: #00ffcc; /* Color del texto */
    padding: 12px 24px; /* Espaciado interno */
    border: 1px solid #aeaeae; /* Borde del botón */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Para que se comporte como un bloque */
    position: relative; /* Para el efecto de pseudo-elemento */
    overflow: hidden; /* Ocultar el contenido que se desborda */
    transition: color 0.4s ease; /* Transición suave para el color */
}

.futuristic-button::before {
    content: ''; /* Pseudo-elemento vacío */
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    width: 300%; /* Aumentar el tamaño */
    height: 300%; /* Aumentar el tamaño */
    background: radial-gradient(circle, #df8664 0%, rgba(0, 255, 204, 0) 70%); /* Gradiente radial */
    transition: transform 0.4s ease; /* Transición suave para el efecto */
    transform: translate(-50%, -50%) scale(0); /* Escalar a 0 inicialmente */
    border-radius: 50%; /* Bordes redondeados */
    z-index: 0; /* Colocar detrás del texto */
}

.futuristic-button:hover::before {
    transform: translate(-50%, -50%) scale(1); /* Escalar al pasar el mouse */
}

.futuristic-button:hover {
    color: #836a6a; /* Cambiar color del texto al pasar el mouse */
}



.margen-abajo{
    margin-bottom: 12vh !important;
}

.fondo-cuadriculado {
    background-color: #e6e5e5; 
    position: relative;
}

.fondo-cuadriculado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0.5) 1px, transparent 1px), 
                      linear-gradient(to bottom, rgba(200, 200, 200, 0.5) 1px, transparent 1px);
    background-size: 20px 20px; /* Tamaño de la cuadrícula */
    z-index: 1; /* Asegura que esté detrás del contenido */
    opacity: 0.4;
}


.fondo-cuadriculado-verde {
    background-color: #e6e5e5; 
    position: relative;
    z-index: 1; /* Asegura que esté detrás del contenido */
} 

.fondo-cuadriculado-verde::before {
    content: '';
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-image: linear-gradient(to right, rgba(21, 207, 36, 0.5) 1px, transparent 1px), 
                    linear-gradient(to bottom, rgba(59, 151, 100, 0.5) 1px, transparent 1px);
    background-size: 20px 20px; /* Tamaño de la cuadrícula */
    z-index: 2; /* Asegura que esté detrás del contenido */
    opacity: 0.4;
}
.cuadro-verde{
    background-image: linear-gradient(to right, rgba(155, 141, 122, 0.5) 1px, transparent 1px), 
    linear-gradient(to bottom, rgba(184, 135, 72, 0.5) 1px, transparent 1px);
background-size: 20px 20px; /* Tamaño de la cuadrícula */
}

.ibm-plex-serif-thin {
    font-family: "IBM Plex Serif", serif;
    font-weight: 800;
    font-size: 3.5vh;
    font-style: normal;
}

@media (max-width: 600px) {
    .ibm-plex-serif-thin {
        font-size: 4vh; /* Smaller font size for mobile */
    }
}
  
.transcript-container {
    max-width: 600px; /* Ajusta el ancho según sea necesario */
    margin: auto;
}
  
.messages {
display: flex;
flex-direction: column;
}

.message {
margin: 10px 0; /* Espaciado entre mensajes */
padding: 10px;
border-radius: 5px;
max-width: 80%; /* Limitar el ancho de los mensajes */
}

.agent {
align-self: flex-start; /* Alinear a la izquierda */
background-color: #074047; /* Color de fondo para el agente */
}

.user {
align-self: flex-end; /* Alinear a la derecha */
background-color: #613a00; /* Color de fondo para el usuario */
}

iframe.bpFab:hover {
    transition: none !important;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2) !important;
}

iframe.bpFab {
    z-index: 9998;
    position: fixed;
    bottom: 0rem !important;
    left: 50%; /* Centra horizontalmente */
    right: 1.5rem;
    height: 4rem;
    width: 20% !important;
    border-radius: 9999px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translate(-50%, -50%) !important; /* Ajusta la posición para centrar */
}



@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --color-1: 0 100% 63%;
        --color-2: 270 100% 63%;
        --color-3: 210 100% 63%;
        --color-4: 195 100% 63%;
        --color-5: 90 100% 63%;
    }
}



@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

